apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
      - name: frontend
        image: <IMAGE_PLACEHOLDER> # CI에 의해 자동 교체됨
        ports:
        - containerPort: 80